!!!
%html{:lang => "en"}
	%head
		%meta{:charset => "utf-8"}
		%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
		%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
		%meta{:content => "", :name => "description"}
		%meta{:content => "", :name => "author"}
		%title= title
		%link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"}
		-#%link{:href => "/css/plugins/metisMenu/metisMenu.min.css", :rel => "stylesheet"}
		-#%link{:href => "/css/plugins/timeline.css", :rel => "stylesheet"}
		%link{:href => "/css/lysergide.css", :rel => "stylesheet"}
		-#%link{:href => "/css/plugins/morris.css", :rel => "stylesheet"}
		%link{:href => "/css/font-awesome.min.css", :rel => "stylesheet"}
	%body
		#wrapper
			%nav.navbar.navbar-default.navbar-static-top{:role => "navigation", :style => "margin-bottom: 0"}
				.navbar-header
					- if session[:user]
						%button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
							%span.sr-only Toggle navigation
							%span.icon-bar
							%span.icon-bar
							%span.icon-bar
					%a.navbar-brand{:href => "/"}
						%span.fa.fa-tint.fa-fw
						%span Lysergide
				- if session[:user]
					%ul.nav.navbar-top-links.navbar-right
						%li.dropdown
							%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
								%i.fa.fa-user.fa-fw
								%i.fa.fa-caret-down
							%ul.dropdown-menu.dropdown-user
								%li
									%a{:href => "/settings"}
										%i.fa.fa-gear.fa-fw
										Settings
								%li.divider
								%li
									%a{:href => "/logout"}
										%i.fa.fa-sign-out.fa-fw
										Logout
					.navbar-default.sidebar{:role => "navigation"}
						.sidebar-nav.navbar-collapse
							%ul#side-menu.nav
								%li
									%a.active
										%i.fa.fa-book.fa-fw
										= "Repositories (#{user.repos.length})"
									%ul.nav.nav-second-level
										- user.repos.each do |repo|
											%li
												%a{:href => "/#{user.name}/#{repo.name}"}= repo.name
			#page-wrapper{style: "#{!session[:user] ? 'margin-left: 0px !important' : ''}"}
				- if defined? alert
					- if alert
						.alert.col-md-6.col-md-offset-3{:class => 'alert-'+alert.type}= alert.msg
				=yield
		%script{:src => "/js/jquery.js"}
		%script{:src => "/js/bootstrap.min.js"}
		-#%script{:src => "/js/plugins/metisMenu/metisMenu.min.js"}
		-#%script{:src => "/js/plugins/morris/raphael.min.js"}
		-#%script{:src => "/js/plugins/morris/morris.min.js"}
		-#%script{:src => "/js/plugins/morris/morris-data.js"}
		%script{:src => "/js/lysergide.js"}