.row
	.col-md-12
		%h1.page-header= "#{user.name}/#{repo.name} - Builds"
.row-fluid
	.panel.panel-default
		.panel-body
			- if repo.builds.length > 0
				.list-group
					- repo.builds.each do |build|
						%a.list-group-item{:href => "/repo/#{build.repo.name}/builds/#{build.number}"}
							- case build.status
							- when :scheduled
								%i.fa.fa-calendar.fa-fw
							- when :fail
								%i.fa.fa-warning.fa-fw
							- when :success
								%i.fa.fa-check.fa-fw
							- when :working
								%i.fa.fa-gear.fa-fw
							- else
								%i.fa.fa-gear.fa-fw
							Build
							%b= build.number
							%span= build.status
							%span.pull-right.text-muted.small
								%em= build.ref
							%span.pull-right.text-muted.small
								%em= build.duration
							%span.pull-right.text-muted.small
								%em= build.date
			- else
				There are no builds to show here.