.row
	.col-md-12
		%h1.page-header= "#{user.name}/#{repo.name}##{build.number}"
.row-fluid
	.panel.panel-default
		.panel-heading
			- case build.status
			- when :failed
				.fa.fa-warning.fa-fw{:style => 'color: firebrick'}
				failing
			- when :success
				%i.fa.fa-check.fa-fw{:style => 'color: green'}
				succeeding
			- else
				%i.fa.fa-gear.fa-fw
				working
		.panel-body
			.col-md-8
				%pre{:id => 'build-log', :style => 'width: 100%'}= build.log
				%script{:src => 'https://raw.githubusercontent.com/drudru/ansi_up/master/ansi_up.js', :type => 'text/javascript'}
				%script{:type => 'text/javascript'}= "var log = document.getElementById('build-log');log.innerHTML = ansi_up.ansi_to_html(log.innerHTML);"