.row
	.col-md-12
		%h1.page-header
			%span>= "#{user.name}/"
			%a.repo_link{style: "#{repo.public? ? 'color: green' : ''}", href: "/#{user.name}/#{repo.name}"}>= "#{repo.name}"
			%span>= "##{build.number}"
.row-fluid
	.panel.panel-default
		.panel-heading
			- case build.status
			- when :failed
				.fa.fa-warning.fa-fw{:style => 'color: firebrick'}
				failing (
				%a{:href => "/#{user.name}/#{repo.name}/builds/#{build.number}/retry"}>retry
				)
			- when :success
				%i.fa.fa-check.fa-fw{:style => 'color: green'}
				succeeding
			- else
				%i.fa.fa-gear.fa-fw
				working
		.panel-body
			.col-md-8
				%pre.lys-build-log{:lys_build => "#{repo.name} #{build.number}", :style => 'width: 100%'}= build.log
				%script{:src => '/js/ansi_up.js'}
				:javascript
					var logs = document.getElementsByClassName('lys-build-log');
					for(var i = 0; i < logs.length; i++) {
						logs[i].innerHTML = ansi_up.ansi_to_html(logs[i].innerHTML);
					}