.row
	.col-lg-12
		%h1.page-header= "#{user.name}#{if user.name.end_with? 's' then '' else '\'s' end} dashboard"
.row
	.col-md-4
		.form-group
			%a.btn.btn-lg.btn-success.btn-block{href: '/add/repo'} Add a repo
.row-fluid
	.panel.panel-default
		.panel-heading
			%i.fa.fa-gear.fa-fw
			Builds
		.panel-body
			- if user.builds.length > 0
				.list-group
					- user.builds.reorder(id: :desc).first(50).each do |build|
						%a.list-group-item{:href => "/repo/#{build.repo.name}/builds/#{build.number}"}
							- case build.status
							- when :scheduled
								%i.fa.fa-calendar.fa-fw
							- when :failed
								%i.fa.fa-warning.fa-fw{:style => 'color: firebrick'}
							- when :success
								%i.fa.fa-check.fa-fw{:style => 'color: green'}
							- when :working
								%i.fa.fa-gear.fa-fw
							- else
								%i.fa.fa-gear.fa-fw
							= build.repo.name
							%b.pull-left= "##{build.number}"
							%span.pull-right.text-muted.small
								%em= build.date
			- else
				There are no builds to show here.