#page-wrapper
  .row
    .col-lg-12
      %h1.page-header= "#{user.name}#{if user.name.end_with? 's' then '' else '\'s' end} dashboard"
  .panel.panel-default
    .panel-heading
      %i.fa.fa-gear.fa-fw
      Builds
    .panel-body
      - if user.builds.length > 0
        .list-group
          - user.builds.each do |build|
            %a.list-group-item{:href => "/repo/#{build.repo}/build/#{build.number}"}
              - case build.status
              - when 'failed'
                %i.fa.fa-warning.fa-fw
              - when 'succeeded'
                %i.fa.fa-check.fa-fw
              - when 'in progress'
                %i.fa.fa-gear.fa-fw
              Build
              %b= build.number
              = build.status
              %span.pull-right.text-muted.small
                %em 6 days ago
      - else
        There are no builds to show here.